node_modules
coverage
.env
tmp/*
/dist
.release

portman-config.json
postman-config.json
postman-testsuite.json

.DS_Store
.idea
/examples/testsuite-default-checks/tmp/
/examples/testsuite-content-checks/tmp/
/examples/testsuite-overwrites/tmp/
/examples/testsuite-assign-variables/tmp/
