name: Publish image
on:
  release:
    types: [released]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push ghcr.io
      id: build-and-push
      uses: docker/build-push-action@1cb9d22b932e4832bb29793b7777ec860fc1cde0 # v3.1.0
      with:
        push: true
        tags: ghcr.io/${{ github.repository }}:latest
